* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
}

.tela {
    display: none;
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 9/16;
    height: 100vh;
    max-height: 100vh;
}

.tela.ativa {
    display: block;
}

.tela img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ENVELOPE */

.envelope {
    position: absolute;

    left: 50%;
    top: 47%;

    transform: translate(-50%, -50%);

    width: 42%;
    height: 20%;

    background: transparent;
    border: none;
    cursor: pointer;

    z-index: 999;
}

/* CONFIRMAR PRESENÇA */

.btn-presenca {
    position: absolute;

    left: 23%;
    top: 68%;

    width: 18%;
    height: 12%;

    transform: translate(-50%, -50%);

    

    border: none;
    cursor: pointer;

    z-index: 999;
}

/* LOCALIZAÇÃO */

.btn-localizacao {
    position: absolute;

    left: 50%;
    top: 68%;

    width: 18%;
    height: 12%;

    transform: translate(-50%, -50%);

   

    border: none;
    cursor: pointer;

    z-index: 999;
}

/* PRESENTES */

.btn-presentes {
    position: absolute;

    left: 77%;
    top: 68%;

    width: 18%;
    height: 12%;

    transform: translate(-50%, -50%);

   

    border: none;
    cursor: pointer;

    z-index: 999;
}

/* VOLTAR */

.voltar {
    position: absolute;

    top: 20px;
    left: 20px;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;

    background: white;
    color: black;

    font-weight: bold;

    cursor: pointer;

    z-index: 1000;
}
